*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    margin-top: 3rem;
    input{
        padding: 5px 1rem;
        margin: 10px;
        outline: none;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 10px;
        
    }
    button{
        margin: 10px;
        outline: none;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 5px 4rem;
        background-color: #4da650;
        color: #fff;
    }
    .program{
        border: 1px solid transparent;
        border-radius: 10px;
        width: 50%;
        margin-left: 25%;
        background-color: rgb(155, 155, 155);
    }
    h1{
        margin: 2rem 0;
    }
    #muddet{
        position: absolute;
        top: 150px;
        left: 366px;
        opacity: .8;
    }
    #faiz{
        position: absolute;
        top: 239px;
        left: 366px;
        opacity: .8;
    }
    .first{
        position: relative ;
        margin-top: 10px;
        
        #mebleg{
            position: absolute;
            top: -18px;
            left: 40px;
            opacity: .8;
            transition: 1s;
        }
    }
    .second{
        position: relative;
        margin-top: 10px;
        #muddet{
            position: absolute;
            top: -18px;
            left: 40px;
            opacity: .8;
            transition: 1s;
        }
    }
    .third{
        position: relative;
        margin-top: 10px;
        #faiz{
            position: absolute;
            top: -18px;
            left: 40px;
            opacity: .8;
            transition: 1s;
        }
    }
    .content{
        padding: 0 15rem;
    }
}